<!-- https://medium.com/tech-insights/how-to-deploy-angular-apps-to-github-pages-gh-pages-896c4e10f9b4 -->
<div class="app-container">
    <div class="picture-row">
        <div class="picture-container">
            <img [src]="imageService.profile" alt="That Boi Kirk">
        </div>
    </div>
    <div class="card-container">
        <div class="card-part">
            <div class="personal-info">
                <h4>{{_role}}</h4>
                <h1>{{firstName}} {{lastName}}</h1>
                <h3>{{businessName}}</h3>
                <p>{{telephone}}</p>
                <p>{{email}}</p>
            </div>
        </div>
    </div>

    <div class="social-media-full-container">
        <ul>
            <li><a href="https://safc2.com/" target="_blank"> <i class="fas fa-globe-americas"></i> </a></li>
        </ul>
    </div>

    <div class="download-vcf">
        <a href="javascript:void(0)" id="downloadButton" [vcdDownloadVCard]="vCard">
            <span>Add Contact</span>
        </a>
    </div>
</div>